#rootedImg{
    width: 200px;
    height:350px;
    float: right;
    margin-right:300px;
    margin-top: 100;
}

#durationImg{
   width: 1000px;
   display: block;
   margin-left:auto;
   margin-right: auto;
   margin-top: 50px;
   
}

#designImg{
    width: 80%;
    height: 80%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 150px;
    

}


h1{
font-family: "Chicle", "cursive", "Open Sans", sans-serif;
padding-top: 60px;
font-size: 50px;
color: black;

}
h2{
    font-family: "Mulish", sans-serif;
    font-style: bold;
    color: #00AFB9;
    
}
h3{
    font-family: "Mulish", sans-serif;
    color: #0081A7;
    padding-bottom: 10px;

}


h5{
    font-style: normal;
    font-family: "Mulish", sans-serif;
    color: #0081A7;
    padding-bottom: 5px;
}
h6{
    padding-left: 40px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Mulish", sans-serif;
}

.titleT{
    font-style: normal;
    font-family: "Mulish", sans-serif;
    font-size: 15px;

}

p{
    font-family: "Mulish", sans-serif;
}


.jumbotron{
    background-color: white;
    margin:50px;
}

#graphOneImg{
    width: 200px;
    height: 200px;

}
#graphTwoImg{
    width: 200px;
    height: 200px;

}
#graphThreeImg{
    width: 200px;
    height: 200px;


}

.square2 {
    width: 20px;
    height: 20px;
    background: #616161;
}
.square1 {
    width: 20px;
    height: 20px;
    background: #00AFB9;
    
}


.card-body{
    width: 450px;
    margin: 40px;;
}

.row{
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
}

#definePhaseImg{
    width:1000px;
    height: 500px;
    display: block;
    margin-left:auto;
    margin-right: auto;

}

#storyboardImg{
    width:1000px;
    height: 600px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#userflowImg{
    width:1000px;
    height: 600px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#prototypeImg{
    width:800px;
    height: 300px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
#nextSteps{
    color:#00AFB9;

}

ul{
    /* position: relative;
    float: left; */
    display: block;
    margin-left:auto;
    margin-right: auto;
    font-size: 20px;
    font-family: "Mulish", sans-serif;
}

.titleText{
    text-align: center;
}



    

/* Navbar stuff */

#logo {
    width: 90px;
    height: 60px;
    padding-left: 30px;
  }
  .navbar {
    display: block;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
  }

  .line{
    display: inline;
    float: right;
    padding-top: 20px;
    color: black;
    vertical-align: top;
    padding-right: 100px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-size: 18px;
  }
  a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }
   hr {
    border: 1px solid black;
    
  }